In [339]:
import pandas as pd
import numpy as np

In [340]:
df = pd.read_csv("train.csv")

In [341]:
df.head

<bound method NDFrame.head of       Property_ID       Property_Type  Property_Area  Number_of_Windows  \
0          0x21e3           Apartment            106                NaN
1          0x68d4           Apartment            733                2.0
2          0x7d81           Apartment            737                4.0
3          0x7a57           Apartment            900                3.0
4          0x9409            Bungalow           2238               14.0
...           ...                 ...            ...                ...
39494      0x6e26  Single-family home           1120                3.0
39495      0xa013           Apartment            445                1.0
39496      0x9721            Bungalow           3780                6.0
39497      0x7e25  Single-family home           1266                3.0
39498      0x8cb4  Single-family home           1229                2.0

       Number_of_Doors       Furnishing  Frequency_of_Powercuts Power_Backup  \
0                    1   Semi_Furnished                     0.0           No
1                    2      Unfurnished                     1.0           No
2                    2  Fully Furnished                     0.0           No
3                    2      Unfurnished                     2.0          Yes
4                    6  Fully Furnished                     0.0           No
...                ...              ...                     ...          ...
39494                2              NaN                     0.0           No
39495                3  Fully Furnished                     1.0           No
39496                6      Unfurnished                     0.0          Yes
39497                1   Semi_Furnished                     0.0           No
39498                4  Fully Furnished                     0.0           No

                  Water_Supply  Traffic_Density_Score              Crime_Rate  \
0      Once in a day - Morning                   5.89  Slightly below average
1      Once in a day - Evening                   4.37      Well below average
2      Once in a day - Morning                   7.45  Slightly below average
3      Once in a day - Morning                   6.16      Well above average
4                     All time                   5.46      Well below average
...                        ...                    ...                     ...
39494                 All time                   5.55  Slightly above average
39495                 All time                   5.70  Slightly above average
39496         Once in two days                   6.84      Well below average
39497  Once in a day - Morning                   4.60  Slightly above average
39498                 All time                   8.29      Well below average

      Dust_and_Noise  Air_Quality_Index  Neighborhood_Review  \
0             Medium                 90                 3.86
1             Medium                 96                 3.55
2             Medium                121                 3.81
3             Medium                100                 1.34
4             Medium                116                 4.77
...              ...                ...                  ...
39494         Medium                 80                 3.56
39495         Medium                 86                 2.93
39496         Medium                137                 3.80
39497            NaN                 88                 3.25
39498           High                132                 4.67

       Habitability_score
0                   71.98
1                   71.20
2                   71.39
3                   31.46
4                   93.70
...                   ...
39494               73.43
39495               79.91
39496               81.44
39497               71.33
39498               83.25

[39499 rows x 15 columns]>

In [342]:
un = df["Property_Type"].unique()

print(un)

['Apartment' 'Bungalow' 'Single-family home' 'Duplex' '#R%$G&867'
 'Container Home']

In [343]:
df["Property_Type"] = df["Property_Type"].replace(["#R%$G&867"], "NA")

In [344]:
un = df["Property_Type"].unique()

print(un)

['Apartment' 'Bungalow' 'Single-family home' 'Duplex' 'NA'
 'Container Home']

In [345]:
y = df["Habitability_score"]

In [346]:
x = df.drop(["Habitability_score"], axis = "columns")

In [347]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39499 entries, 0 to 39498
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Property_ID             39499 non-null  object
 1   Property_Type           39499 non-null  object
 2   Property_Area           39499 non-null  int64
 3   Number_of_Windows       37845 non-null  float64
 4   Number_of_Doors         39499 non-null  int64
 5   Furnishing              38457 non-null  object
 6   Frequency_of_Powercuts  38116 non-null  float64
 7   Power_Backup            39499 non-null  object
 8   Water_Supply            39499 non-null  object
 9   Traffic_Density_Score   39499 non-null  float64
 10  Crime_Rate              38712 non-null  object
 11  Dust_and_Noise          38280 non-null  object
 12  Air_Quality_Index       39499 non-null  int64
 13  Neighborhood_Review     39499 non-null  float64
dtypes: float64(4), int64(3), object(7)
memory usage: 4.2+ MB

In [348]:
x = x.drop(["Property_ID"], axis = "columns")

In [349]:
x["Property_Type"].unique()

array(['Apartment', 'Bungalow', 'Single-family home', 'Duplex', 'NA',
       'Container Home'], dtype=object)

In [350]:
x["Furnishing"].unique()

array(['Semi_Furnished', 'Unfurnished', 'Fully Furnished', nan],
      dtype=object)

In [351]:
x.iloc[:,:].isnull().any()

Property_Type             False
Property_Area             False
Number_of_Windows          True
Number_of_Doors           False
Furnishing                 True
Frequency_of_Powercuts     True
Power_Backup              False
Water_Supply              False
Traffic_Density_Score     False
Crime_Rate                 True
Dust_and_Noise             True
Air_Quality_Index         False
Neighborhood_Review       False
dtype: bool

In [352]:
x["Property_Type"].value_counts()

Apartment             14596
Single-family home    11477
Duplex                 5806
Bungalow               4238
Container Home         2872
NA                      510
Name: Property_Type, dtype: int64

In [353]:
from sklearn.preprocessing import LabelEncoder


le = LabelEncoder()

x["Property_Type"] = le.fit_transform(x["Property_Type"])
dum = pd.get_dummies(x["Property_Type"], drop_first=True, prefix = "PT")
x = pd.concat([x,dum], axis = "columns")
x = x.drop(["Property_Type"], axis = "columns")

dum = pd.get_dummies(x["Number_of_Doors"], drop_first=True, prefix = "NOD")
x = pd.concat([x,dum], axis = "columns")
x = x.drop(["Number_of_Doors"], axis = "columns")

In [354]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

array = x["Traffic_Density_Score"].values.reshape(-1,1)
narray = scaler.fit_transform(array)
ndata = pd.DataFrame(narray, columns = ["nTraffic_Density_Score"])
x = pd.concat([x,ndata], axis = "columns")
x = x.drop(["Traffic_Density_Score"], axis = "columns")

array = x["Air_Quality_Index"].values.reshape(-1,1)
narray = scaler.fit_transform(array)
ndata = pd.DataFrame(narray, columns = ["nAir_Quality_Index"])
x = pd.concat([x,ndata], axis = "columns")
x = x.drop(["Air_Quality_Index"], axis = "columns")

array = x["Neighborhood_Review"].values.reshape(-1,1)
narray = scaler.fit_transform(array)
ndata = pd.DataFrame(narray, columns = ["nNeighborhood_Review"])
x = pd.concat([x,ndata], axis = "columns")
x = x.drop(["Neighborhood_Review"], axis = "columns")

array = x["Property_Area"].values.reshape(-1,1)
narray = scaler.fit_transform(array)
ndata = pd.DataFrame(narray, columns = ["nProperty_Area"])
x = pd.concat([x,ndata], axis = "columns")
x = x.drop(["Property_Area"], axis = "columns")

In [355]:
x.head

<bound method NDFrame.head of        Number_of_Windows       Furnishing  Frequency_of_Powercuts  \
0                    NaN   Semi_Furnished                     0.0
1                    2.0      Unfurnished                     1.0
2                    4.0  Fully Furnished                     0.0
3                    3.0      Unfurnished                     2.0
4                   14.0  Fully Furnished                     0.0
...                  ...              ...                     ...
39494                3.0              NaN                     0.0
39495                1.0  Fully Furnished                     1.0
39496                6.0      Unfurnished                     0.0
39497                3.0   Semi_Furnished                     0.0
39498                2.0  Fully Furnished                     0.0

      Power_Backup             Water_Supply              Crime_Rate  \
0               No  Once in a day - Morning  Slightly below average
1               No  Once in a day - Evening      Well below average
2               No  Once in a day - Morning  Slightly below average
3              Yes  Once in a day - Morning      Well above average
4               No                 All time      Well below average
...            ...                      ...                     ...
39494           No                 All time  Slightly above average
39495           No                 All time  Slightly above average
39496          Yes         Once in two days      Well below average
39497           No  Once in a day - Morning  Slightly above average
39498           No                 All time      Well below average

      Dust_and_Noise  PT_1  PT_2  PT_3  ...  PT_5  NOD_2  NOD_3  NOD_4  NOD_5  \
0             Medium     0     0     0  ...     0      0      0      0      0
1             Medium     0     0     0  ...     0      1      0      0      0
2             Medium     0     0     0  ...     0      1      0      0      0
3             Medium     0     0     0  ...     0      1      0      0      0
4             Medium     1     0     0  ...     0      0      0      0      0
...              ...   ...   ...   ...  ...   ...    ...    ...    ...    ...
39494         Medium     0     0     0  ...     1      1      0      0      0
39495         Medium     0     0     0  ...     0      0      1      0      0
39496         Medium     1     0     0  ...     0      0      0      0      0
39497            NaN     0     0     0  ...     1      0      0      0      0
39498           High     0     0     0  ...     1      0      0      1      0

       NOD_6  nTraffic_Density_Score  nAir_Quality_Index  \
0          0                0.594349            0.086207
1          0                0.440969            0.091954
2          0                0.751766            0.115900
3          0                0.621594            0.095785
4          1                0.550959            0.111111
...      ...                     ...                 ...
39494      0                0.560040            0.076628
39495      0                0.575177            0.082375
39496      1                0.690212            0.131226
39497      0                0.464178            0.084291
39498      0                0.836529            0.126437

       nNeighborhood_Review  nProperty_Area
0                     0.772        0.000215
1                     0.710        0.022636
2                     0.762        0.022779
3                     0.268        0.028608
4                     0.954        0.076455
...                     ...             ...
39494                 0.712        0.036475
39495                 0.586        0.012337
39496                 0.760        0.131598
39497                 0.650        0.041696
39498                 0.934        0.040373

[39499 rows x 21 columns]>