In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv("train.csv")

In [46]:
df.head

<bound method NDFrame.head of       Property_ID       Property_Type  Property_Area  Number_of_Windows  \
0          0x21e3           Apartment            106                NaN
1          0x68d4           Apartment            733                2.0
2          0x7d81           Apartment            737                4.0
3          0x7a57           Apartment            900                3.0
4          0x9409            Bungalow           2238               14.0
...           ...                 ...            ...                ...
39494      0x6e26  Single-family home           1120                3.0
39495      0xa013           Apartment            445                1.0
39496      0x9721            Bungalow           3780                6.0
39497      0x7e25  Single-family home           1266                3.0
39498      0x8cb4  Single-family home           1229                2.0

       Number_of_Doors       Furnishing  Frequency_of_Powercuts Power_Backup  \
0                    1   Semi_Furnished                     0.0           No
1                    2      Unfurnished                     1.0           No
2                    2  Fully Furnished                     0.0           No
3                    2      Unfurnished                     2.0          Yes
4                    6  Fully Furnished                     0.0           No
...                ...              ...                     ...          ...
39494                2              NaN                     0.0           No
39495                3  Fully Furnished                     1.0           No
39496                6      Unfurnished                     0.0          Yes
39497                1   Semi_Furnished                     0.0           No
39498                4  Fully Furnished                     0.0           No

                  Water_Supply  Traffic_Density_Score              Crime_Rate  \
0      Once in a day - Morning                   5.89  Slightly below average
1      Once in a day - Evening                   4.37      Well below average
2      Once in a day - Morning                   7.45  Slightly below average
3      Once in a day - Morning                   6.16      Well above average
4                     All time                   5.46      Well below average
...                        ...                    ...                     ...
39494                 All time                   5.55  Slightly above average
39495                 All time                   5.70  Slightly above average
39496         Once in two days                   6.84      Well below average
39497  Once in a day - Morning                   4.60  Slightly above average
39498                 All time                   8.29      Well below average

      Dust_and_Noise  Air_Quality_Index  Neighborhood_Review  \
0             Medium               90.0                 3.86
1             Medium               96.0                 3.55
2             Medium              121.0                 3.81
3             Medium              100.0                 1.34
4             Medium              116.0                 4.77
...              ...                ...                  ...
39494         Medium               80.0                 3.56
39495         Medium               86.0                 2.93
39496         Medium              137.0                 3.80
39497            NaN               88.0                 3.25
39498           High              132.0                 4.67

       Habitability_score
0                   71.98
1                   71.20
2                   71.39
3                   31.46
4                   93.70
...                   ...
39494               73.43
39495               79.91
39496               81.44
39497               71.33
39498               83.25

[39499 rows x 15 columns]>

In [47]:
un = df["Property_Type"].unique()

print(un)

['Apartment' 'Bungalow' 'Single-family home' 'Duplex' '#R%$G&867'
 'Container Home']

In [48]:
df["Property_Type"] = df["Property_Type"].replace("##R%$G&867","NA")

In [49]:
un = df["Property_Type"].unique()

print(un)

['Apartment' 'Bungalow' 'Single-family home' 'Duplex' '#R%$G&867'
 'Container Home']

In [50]:
df["Property_Type"] = df["Property_Type"].replace(["#R%$G&867"], "NA")

In [51]:
un = df["Property_Type"].unique()

print(un)

['Apartment' 'Bungalow' 'Single-family home' 'Duplex' 'NA'
 'Container Home']