In [359]:
import pandas as pd
import numpy as np

In [360]:
df = pd.read_csv("train.csv")

In [361]:
df["Property_Type"] = df["Property_Type"].replace(["#R%$G&867"], "NA")

In [362]:
x = df

In [363]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39499 entries, 0 to 39498
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Property_ID             39499 non-null  object
 1   Property_Type           39499 non-null  object
 2   Property_Area           39499 non-null  int64
 3   Number_of_Windows       37845 non-null  float64
 4   Number_of_Doors         39499 non-null  int64
 5   Furnishing              38457 non-null  object
 6   Frequency_of_Powercuts  38116 non-null  float64
 7   Power_Backup            39499 non-null  object
 8   Water_Supply            39499 non-null  object
 9   Traffic_Density_Score   39499 non-null  float64
 10  Crime_Rate              38712 non-null  object
 11  Dust_and_Noise          38280 non-null  object
 12  Air_Quality_Index       39499 non-null  int64
 13  Neighborhood_Review     39499 non-null  float64
 14  Habitability_score      39499 non-null  float64
dtypes: float64(5), int64(3), object(7)
memory usage: 4.5+ MB

In [364]:
x = x.drop(["Property_ID"], axis = "columns")

In [365]:
x.drop(x[x.Water_Supply == "NOT MENTIONED"].index, axis = 0, inplace = True)
x.drop(x[x.Property_Type == "NA"].index, axis = 0, inplace = True)
x.drop(x[x.Power_Backup == "NOT MENTIONED"].index, axis = 0, inplace = True)
x = x.dropna(subset = "Crime_Rate")
x = x.dropna(subset = "Number_of_Windows")
x = x.dropna(subset = "Furnishing")



x = x.reset_index()

In [366]:
x["Property_Type"].value_counts()

Apartment             12905
Single-family home    10200
Duplex                 5142
Bungalow               3791
Container Home         2567
Name: Property_Type, dtype: int64

In [367]:
from sklearn.preprocessing import LabelEncoder


le = LabelEncoder()

x["Property_Type"] = le.fit_transform(x["Property_Type"])
dum = pd.get_dummies(x["Property_Type"], drop_first=True, prefix = "PT")
x = pd.concat([x,dum], axis = "columns")
x = x.drop(["Property_Type"], axis = "columns")

dum = pd.get_dummies(x["Number_of_Doors"], drop_first=True, prefix = "NOD")
x = pd.concat([x,dum], axis = "columns")
x = x.drop(["Number_of_Doors"], axis = "columns")



x["Power_Backup"] = le.fit_transform(x["Power_Backup"])
dum = pd.get_dummies(x["Power_Backup"], drop_first=True, prefix = "PB")
x = pd.concat([x,dum], axis = "columns")
x = x.drop(["Power_Backup"], axis = "columns")

x["Water_Supply"] = le.fit_transform(x["Water_Supply"])
dum = pd.get_dummies(x["Water_Supply"], drop_first=True, prefix = "WS")
x = pd.concat([x,dum], axis = "columns")
x = x.drop(["Water_Supply"], axis = "columns")

x["Crime_Rate"] = le.fit_transform(x["Crime_Rate"])
dum = pd.get_dummies(x["Crime_Rate"], drop_first=True, prefix = "CR")
x = pd.concat([x,dum], axis = "columns")
x = x.drop(["Crime_Rate"], axis = "columns")

x["Furnishing"] = le.fit_transform(x["Furnishing"])
dum = pd.get_dummies(x["Furnishing"], drop_first=True, prefix = "F")
x = pd.concat([x,dum], axis = "columns")
x = x.drop(["Furnishing"], axis = "columns")

In [368]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

array = x["Traffic_Density_Score"].values.reshape(-1,1)
narray = scaler.fit_transform(array)
ndata = pd.DataFrame(narray, columns = ["nTraffic_Density_Score"])
x = pd.concat([x,ndata], axis = "columns")
x = x.drop(["Traffic_Density_Score"], axis = "columns")

array = x["Air_Quality_Index"].values.reshape(-1,1)
narray = scaler.fit_transform(array)
ndata = pd.DataFrame(narray, columns = ["nAir_Quality_Index"])
x = pd.concat([x,ndata], axis = "columns")
x = x.drop(["Air_Quality_Index"], axis = "columns")

array = x["Neighborhood_Review"].values.reshape(-1,1)
narray = scaler.fit_transform(array)
ndata = pd.DataFrame(narray, columns = ["nNeighborhood_Review"])
x = pd.concat([x,ndata], axis = "columns")
x = x.drop(["Neighborhood_Review"], axis = "columns")

array = x["Property_Area"].values.reshape(-1,1)
narray = scaler.fit_transform(array)
ndata = pd.DataFrame(narray, columns = ["nProperty_Area"])
x = pd.concat([x,ndata], axis = "columns")
x = x.drop(["Property_Area"], axis = "columns")

array = x["Number_of_Windows"].values.reshape(-1,1)
narray = scaler.fit_transform(array)
ndata = pd.DataFrame(narray, columns = ["nNumber_of_Windows"])
x = pd.concat([x,ndata], axis = "columns")
x = x.drop(["Number_of_Windows"], axis = "columns")

In [369]:
x["Frequency_of_Powercuts"] = x["Frequency_of_Powercuts"].fillna(0)
x["Dust_and_Noise"] = x["Dust_and_Noise"].fillna("Medium")

In [370]:
x["Dust_and_Noise"] = le.fit_transform(x["Dust_and_Noise"])
dum = pd.get_dummies(x["Dust_and_Noise"], drop_first=True, prefix = "DN")
x = pd.concat([x,dum], axis = "columns")
x = x.drop(["Dust_and_Noise"], axis = "columns")

dum = pd.get_dummies(x["Frequency_of_Powercuts"], drop_first=True, prefix = "FOP")
x = pd.concat([x,dum], axis = "columns")
x = x.drop(["Frequency_of_Powercuts"], axis = "columns")

In [371]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34605 entries, 0 to 34604
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   34605 non-null  int64
 1   Habitability_score      34605 non-null  float64
 2   PT_1                    34605 non-null  uint8
 3   PT_2                    34605 non-null  uint8
 4   PT_3                    34605 non-null  uint8
 5   PT_4                    34605 non-null  uint8
 6   NOD_2                   34605 non-null  uint8
 7   NOD_3                   34605 non-null  uint8
 8   NOD_4                   34605 non-null  uint8
 9   NOD_5                   34605 non-null  uint8
 10  NOD_6                   34605 non-null  uint8
 11  PB_1                    34605 non-null  uint8
 12  WS_1                    34605 non-null  uint8
 13  WS_2                    34605 non-null  uint8
 14  WS_3                    34605 non-null  uint8
 15  CR_1                    34605 non-null  uint8
 16  CR_2                    34605 non-null  uint8
 17  CR_3                    34605 non-null  uint8
 18  F_1                     34605 non-null  uint8
 19  F_2                     34605 non-null  uint8
 20  nTraffic_Density_Score  34605 non-null  float64
 21  nAir_Quality_Index      34605 non-null  float64
 22  nNeighborhood_Review    34605 non-null  float64
 23  nProperty_Area          34605 non-null  float64
 24  nNumber_of_Windows      34605 non-null  float64
 25  DN_1                    34605 non-null  uint8
 26  DN_2                    34605 non-null  uint8
 27  FOP_1.0                 34605 non-null  uint8
 28  FOP_2.0                 34605 non-null  uint8
 29  FOP_3.0                 34605 non-null  uint8
dtypes: float64(6), int64(1), uint8(23)
memory usage: 2.6 MB

In [372]:
x.head()

,index,Habitability_score,PT_1,PT_2,PT_3,PT_4,NOD_2,NOD_3,NOD_4,NOD_5,...,nTraffic_Density_Score,nAir_Quality_Index,nNeighborhood_Review,nProperty_Area,nNumber_of_Windows,DN_1,DN_2,FOP_1.0,FOP_2.0,FOP_3.0
0,1,71.20,0,0,0,0,1,0,0,0,...,0.440969,0.091954,0.710,0.022642,0.133333,0,1,1,0,0
1,2,71.39,0,0,0,0,1,0,0,0,...,0.751766,0.115900,0.762,0.022785,0.266667,0,1,0,0,0
2,3,31.46,0,0,0,0,1,0,0,0,...,0.621594,0.095785,0.268,0.028615,0.200000,0,1,0,1,0
3,4,93.70,1,0,0,0,0,0,0,0,...,0.550959,0.111111,0.954,0.076475,0.933333,0,1,0,0,0
4,5,82.94,0,0,0,1,0,1,0,0,...,0.574168,0.087165,0.898,0.038810,0.200000,0,1,0,0,0

In [373]:
y = x["Habitability_score"]
x = x.drop(["Habitability_score"], axis = "columns")

In [374]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1)

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [375]:
model.score(x_test, y_test)

0.5945463675749739